html, main {
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#btn_Sidemenu {
    margin-left: 10px;
}

header {
    background-color: #FF6459;
    color: white;
}

#txt_tituloArticulo{
    text-align: center;
}

#txt_fechaArticulo{
    margin: 10px;
    text-align: right;
}

#txt_autorArticulo{
    margin: 10px;
}

#list_meses{
    padding: 10px;
    margin-top:15px;
    border: #000;
    border-style: solid;
    border-radius: 5px;
}

#txt_cuerpoArticulo{
    margin: 10px;
    font-size: medium;
    text-align: justify;
}

#art_body{
    margin: 25px;
    background-color: white;
    border: #000;
    border-style: solid;
    border-radius: 5px;
}

#art_side{
    margin-top: 25px;
    margin-right: 25px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;  /* Preferred icon size */
    display: inline-block;
    color: white;
    border-color: black;
    margin: 5px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    border-right: 2px solid black;
    background-color: #FFF;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    font-weight: 900;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a#link1:hover {
    color: #38D03F; /*Verde*/
}

.sidenav a#link2:hover {
    color: #FF2122; /*Rojo*/
}

.sidenav a#link3:hover {
    color: #1114C9; /*Azul*/
}

.sidenav a#link4:hover {
    color: #E3E300; /*Amarillo*/
}

.sidenav a#link5:hover {
    color: #FF2122; /*Rojo*/
}

.sidenav a#link6:hover {
    color: #1114C9; /*Azul*/
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}